# Default ignored files
/shelf/
/workspace.xml
/День 1. Первый агент/.idea/vcs.xml
/День 1. Первый агент/app/src/main/java/com/example/aiwithlove/util/SecureData.kt
/AndroidProjectSystem.xml
/deploymentTargetSelector.xml
/gradle.xml
/migrations.xml
/misc.xml
/modules.xml
/runConfigurations.xml
/День 1. Первый агент.iml
/vcs.xml
